@{
    ViewBag.Title = "Home Page";
}

<div class="alert alert-warning">
    <h4 class="alert-heading">Work In Progress</h4>
    <p class="mb-0">This page is still a work in progress, but the links in the navigation bar work!</p>
</div>