<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FieldSubmiter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <FieldSubmiter.Properties.Settings>
            <setting name="Purposes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Boundary</string>
                        <string>Boundary / Topo</string>
                        <string>Control</string>
                        <string>Formboard</string>
                        <string>Foundation</string>
                        <string>Elevation Certificate</string>
                        <string>Final Site</string>
                        <string>Layout</string>
                        <string>As-Built</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="EMail" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="DestEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultSearch" serializeAs="String">
                <value />
            </setting>
            <setting name="TCPIP" serializeAs="String">
                <value />
            </setting>
            <setting name="TCPPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Name" serializeAs="String">
                <value />
            </setting>
            <setting name="SendMethod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EMailServerMethod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EMailDomain" serializeAs="String">
                <value />
            </setting>
            <setting name="EMailPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EMailSSL" serializeAs="String">
                <value>False</value>
            </setting>
        </FieldSubmiter.Properties.Settings>
    </userSettings>
</configuration>